{% extends 'base/main.html' %}
{% load static %}

{% block content %}

    <section class="banner">
        <div class="glass">
            <h1>Virtual Collaboration Made Simple</h1>
            <p>Join or host a high-quality virtual meeting with a single click. Connect with your team from anywhere, anytime.</p>
            <button onclick="joinMeeting()">Join a Meeting</button>
            <button onclick="hostMeeting()">Host a Meeting</button>
        </div>
    </section>

    <script>

        function joinMeeting() {
            window.location.href = "{% url 'lobby' %}?actionType=join"; 
        }
    
        function hostMeeting() {
            window.location.href = "{% url 'lobby' %}?actionType=host"; 
        }

    </script>

{% endblock content %}
