{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<main>
    <section id="form-container">
        <div id="auth-section">
            {% if request.user.is_authenticated %}
            <h3>{{ request.user | title }}</h2>
            <form class="login-field" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" value="Logout"></input>
            </form>
            {% else %}
            <form class="login-field" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="submit" value="Login"></input>
            </form>
            {% endif %}
        </div>
        <hr>

        <img id="logo" src="{% static 'images/chat-icon.png' %}" />

        <div id="welcome-message">
            <h1>Welcome to MyChat</h1>
            <p><b>A group video calling platform made just for you!</b></p>
        </div>

        <form id="form">
            <div class="field-wrapper">

                <div class="form-field">
                    <label>Room:</label>
                    <input name="room" placeholder="Enter a room name" style="text-transform:uppercase" />
                </div>

                <div class="form-field">
                    <label>Name:</label>
                    <input name="username" placeholder="Enter your name" value={{ request.user | title }} />
                </div>

                <div class="form-field">
                    <input type="submit" value="Join Stream" />
                </div>
            </div>
        </form>
    </section>
</main>

<script>
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()
        let room = e.target.room.value.toUpperCase()
        let name = e.target.username.value

        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()

        let UID = data.uid
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)
        sessionStorage.setItem('name', name)

        window.open('/room/', '_self')
    }

    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}