{% extends 'base/main.html' %}

{% block content %}

<main class="login-container">

    <section id="form-container">

        <div id="welcome-message">
            <h1>Login</h1>
        </div>

        <form id="form" method="POST">
            {% csrf_token %}
            <div>

                <div class="form-field">
                    <label for="name">Username:</label>
                    {{ form.username }}

                    {% if form.username.errors %}
                    <div style="color: red; margin-top: 5px;">
                        {% for error in form.username.errors %}
                        {{ error }}<br>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                </div>

                <div class="form-field">
                    <label for="password">Password:</label>
                    {{ form.password }}

                    {% if form.password.errors %}
                    <div style="color: red; margin-top: 5px;">
                        {% for error in form.password.errors %}
                        {{ error }}<br>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>

                <div class="form-field">
                    <input type="submit" value="Login" />
                </div>

                {% if form.non_field_errors %}
                <div style="color: red;">
                    {% for error in form.non_field_errors %}
                    {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </form>

        <p style="text-align: center;">Don't have an account? <a href="{% url 'signup' %}" style="text-decoration: none;">Sign Up</a></p>
    </section>
</main>

{% endblock content %}