{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<main>

    <section id="form-container">

        <div id="welcome-message">
            <h1>Login</h1> 
        </div>

        <form id="form">
            <div class="field-wrapper">

                <div class="form-field">
                    <label for="name">Username:</label>
                    <input type="text" name="name" id="name" placeholder="Enter the user name" required />
                </div>

                <div class="form-field">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" placeholder="Enter the password" required />
                </div>

                <div class="form-field">
                    <input type="submit" value="Login" />
                </div>
                <p id="message" style="text-align: center;"></p>
                <div class="forgot-password">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </form>
    </section>
</main>

<script>
    document.getElementById("form").addEventListener("submit", function (event) {
        event.preventDefault();

        const username = document.getElementById("name").value;
        const password = document.getElementById("password").value;
        const message = document.getElementById("message");

        if (username === "user" && password === "pass") {
            message.textContent = "Login Successful!";
            message.style.color = "green";
        } else {
            message.textContent = "Invalid username or password.";
            message.style.color = "red";
        }
    });
</script>

{% endblock content %}