{% extends 'base/main.html' %}

{% block content %}

<main>

    <section id="form-container">

        <div id="welcome-message">
            <h1>Sign In</h1>
        </div>

        <form id="form" method="POST">
            {% csrf_token %}
            <div>

                <div class="form-field">
                    <label for="username">Username:</label>
                    {{ form.username }}

                    {% if form.username.errors %}
                    <div style="color: red; margin-top: 5px;">
                        {% for error in form.username.errors %}
                        {{ error }}<br>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>

                <div class="form-field">
                    <label for="password1">Password:</label>
                    {{ form.password1 }}

                    {% if form.password1.errors %}
                    <div style="color: red; margin-top: 5px;">
                        {% for error in form.password1.errors %}
                        {{ error }}<br>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>

                <div class="form-field">
                    <label for="password2">Confirm Password:</label>
                    {{ form.password2 }}

                    {% if form.password2.errors %}
                    <div style="color: red; margin-top: 5px;">
                        {% for error in form.password2.errors %}
                        {{ error }}<br>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>

                <div class="form-field">
                    <input type="submit" value="Sign Up" />
                </div>

                {% if form.non_field_errors %}
                <div style="color: red; margin-top: 5px;">
                    {% for error in form.non_field_errors %}
                    {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}

            </div>
        </form>

        <p style="text-align: center;">Already have an account? <a href="{% url 'login' %}" style="text-decoration: none;">Login</a></p>
    </section>
</main>

{% endblock content %}